/* You can add global styles to this file, and also import other style files */

.modal-backdrop {
  opacity: 0.5 !important;
}

ul.breadcrumb {
  border-radius: 0px !important;
  background-color: #fcfcfc !important;
}

body {
  padding-bottom: 220px;
}
